html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#wrap{
	width: 100%;
	overflow: hidden;
}

/*----header----*/

#header{
	width: 100%;
	height: 10%;
	background: transparent;
	position: fixed;
}
.logo{
	
	margin-top: 10px;
	float: left;
	padding-left: 50px;
}
.menu ul li{
	float: right;
	display: block;
	padding-right: 70px;
	padding-top: 10px;
	color: #000000;
}
.menu a{
	color: #6f7287;
	text-decoration: none;
	font-family: sans-serif;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.menu a:hover{
	color: #3498db;
	-webkit-transition:all 0.5s ;
	-moz-transition: all 0.5s ;
	-ms-transition:all 0.5s;
	-o-transition: all 0.5s ;
	transition: all 0.5s ;
	}


/*--- Leanding Page ---*/

#leandingpage{
	width: 100%;
	overflow: hidden;
	margin: auto;
	background: url(img/purwokerto1.png)no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover; 
	margin-top: 70px;
}	
.leandingpage-content{
	width: 100%;
	height: 660px;
	float: left;
}
.leandingpage-content img{
	width: 10px;
	height: 10px;
	margin-left: 770px;
	margin-top: 370px;
}



#footer{
	width: 100%;
	height: 500px;
	margin: auto;
	background: url(img/footer.png)no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover; 
}	
.footer{
	width: 100%;
	height: 500px;
	float: left;
}
.judul1{
	font-family: sans-serif;
	font-size: 25px;
	color: #1a1b23;	
	margin-top: 150px;
	margin-left: 200px;
}
.text1{
	font-family: sans-serif;
	font-size: 15px;
	color: #3d2f36;
	float: left;
	margin-left: 200px;
}
.judul2{
	font-family: sans-serif;
	font-size: 25px;
	color: #1a1b23;	
	margin-top: -49px;
	margin-left: 500px;
}
.text2{
	font-family: sans-serif;
	font-size: 15px;
	color: #3d2f36;
	margin-left: 500px;
	margin-top: 50px;
}
.button1 a{
	padding: 30px 30px;
	color: #1a1b23;
	text-decoration: none;
	border-radius: 10px;
	position: relative;
	font-family: sans-serif;
	margin-left: 950px;
	top: -200px;
	border: solid #1a1b23 3px;
}
.button1 a:hover{
	color: #ffffff;
	border: solid #1a1b23 3px;
	background: #1a1b23;
	width: 100px;
	height: 100px;
}
.button2 a{
	padding: 30px 47px;
	color: #1a1b23;
	text-decoration: none;
	border-radius: 10px;
	position: relative;
	font-family: sans-serif;
	margin-left: 950px;
	top: -100px;
	border: solid #1a1b23 3px;
}
.button2 a:hover{
	color: #ffffff;
	border: solid #1a1b23 3px;
	background: #1a1b23;
}
.text3{
	font-family: sans-serif;
	font-size: 12px;
	text-align: center;
	margin-top: 50px;
}