html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#wrap{
	width: 100%;
	overflow: hidden;
}

/*----header----*/

#header{
	width: 100%;
	height: 10%;
	background: #fff;
	position: fixed;
}
.logo{
	width: 50px;
	margin-top: 10px;
	float: left;
	padding-left: 50px;
}
.menu ul li{
	float: right;
	display: block;
	padding-right: 70px;
	padding-top: 10px;
	color: #000000;
}
.menu a{
	color: #6f7287;
	text-decoration: none;
	font-family: sans-serif;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.menu a:hover{
	color: #3498db;
	-webkit-transition:all 0.5s ;
	-moz-transition: all 0.5s ;
	-ms-transition:all 0.5s;
	-o-transition: all 0.5s ;
	transition: all 0.5s ;
	}


/*--- Leanding Page ---*/

#leandingpage{
	width: 100%;
	overflow: hidden;
	margin: auto;
	background: url(img/background.png)no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover; 
}	
.leandingpage-content{
	width: 100%;
	height: 660px;
	float: left;
}
.leandingpage-content h1{
	font-size: 45px;
	font-family: sans-serif;
	color: #6f7287;;
	margin-top: 100px;
	text-align: center;

}
.leandingpage-content p{
	font-size: 17px;
	font-family: sans-serif;
	color: #c3c2d3;

	text-align: center;
}
.btnleanding a{
	padding: 13px 30px;
	color: #ffffff;
	background: #aadffe;
	text-decoration: none;
	border-radius: 10px;
	position: relative;
	font-family: sans-serif;
	border: solid #aadffe 3px;
	margin-left: 590px;
	top: 60px;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	}
.btnleanding a:hover{
	color: #aadffe;
	border: solid #aadffe 3px;
	background: #ffffff;
	-webkit-transition:all 0.5s ;
	-moz-transition: all 0.5s ;
	-ms-transition:all 0.5s;
	-o-transition: all 0.5s ;
	transition: all 0.5s ;

}

/*--- menu1 ---*/


#menu1{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: #ffffff;
}
.menu1-content{
	width: 100%;
	overflow: hidden;
	float: left;
}
.title1{
	font-size: 35px;
	font-style: bold;
	font-family:sans-serif;	
	float: left;
	margin-top: 400px;
	margin-left: 50px;

}
.menu1-content .title2{
	font-size: 20px;
	font-family: sans-serif;
	color: #000000;
	margin-top: 480px;
	margin-left: 50px;

}
.ilustrasipeople{
	margin-left: 850px;
	margin-top: -350px;
}
.textbtn1{
	font-size: 20px;
	color: #6ab1da;
	text-decoration: none;
	font-family: sans-serif;
	margin-left: 50px;
}


/*--- menu2 ---*/

#menu2{
	width: 100%;
	height: 100px;
	margin: auto;
	background: url(img/background2.png)no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover; 
	margin-top: 250px;
}	
.menu2-content{
	width: 100%;
	height: 850px;
	float: left;
}
.menu2-content .title3{
	font-size: 30px;
	font-family: sans-serif;
	color: #3a3e42;
	margin-top: 200px;
	margin-left: 800px;

}
.menu2-content p{
	font-size: 15px;
	font-family: sans-serif;
	color: #3a3e42;
	margin-top: 10px;
	margin-left: 800px;
}
.ilustrasi-app{
    width: 300px;
    position: relative;
    display: block;
    left: 100px;
    bottom: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}
.textbtn2{
	font-size: 20px;
	color: #6ab1da;
	text-decoration: none;
	font-family: sans-serif;
	margin-left: 800px;
}
.menu2-content.title3{
	font-size: 35px;
	font-style: bold;
	font-family:sans-serif;	
	float: left;
	margin-top: 1000px;
	margin-left: 50px;
}
.menu2-content.title4{
	font-size: 20px;
	font-family:sans-serif;	
	margin-top: 1000px;
	margin-left: 60px;
}

/*--- menu3 ---*/

#menu3{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: #ffffff;
	margin-top: -100px;
}
.menu3-content{
	width: 100%;
	overflow: hidden;
	float: left;
}
.title4{
	font-size: 35px;
	font-style: bold;
	font-family:sans-serif;	
	float: left;
	margin-top: 350px;
	margin-left: 50px;
}
.title5{
	font-size: 20px;
	font-family:sans-serif;	
	margin-top: 430px;
	margin-left: 50px;
}
.ilustrasipeople{
	margin-left: 850px;
	margin-top: -350px;
}
.textbtn3{
	font-size: 20px;
	color: #6ab1da;
	text-decoration: none;
	font-family: sans-serif;
	margin-left: 50px;
}

/*--- menu4 ---*/


#menu4{
	width: 100%;
	height: 100%;
	margin: auto;
	background: url(img/background3.png)no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover; 
	margin-top: 250px;
}	
.menu4-content{
	width: 100%;
	height: 850px;
	float: left;
}
.title6{
	text-align: center;
	margin-top: 200px;
	font-family: sans-serif;
	font-size: 40px;
	color: #ffffff;
}
.testimonial{
	width: 100px;
	height: 100px;
	margin-left: 350px;
}
.title7{
	font-family: sans-serif;
	font-size: 20px;
	margin-left: 450px;
	margin-top: -70px;
	color: #ffffff;
}
.title8{
	font-family: sans-serif;
	font-size: 10px;
	margin-left: 455px;
	margin-top: -10px;
	color: #ffffff;
}
.title9{
	font-family: sans-serif;
	font-size: 15px;
	margin-left: 350px;
	margin-top: 20px;
	color: #ffffff;
}

/*--- footer ---*/

#footer{
	width: 100%;
	height: 500px;
	margin: auto;
	background: url(img/footer.png)no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover; 
}	
.footer{
	width: 100%;
	height: 500px;
	float: left;
}
.judul1{
	font-family: sans-serif;
	font-size: 25px;
	color: #1a1b23;	
	margin-top: 150px;
	margin-left: 200px;
}
.text1{
	font-family: sans-serif;
	font-size: 15px;
	color: #3d2f36;
	float: left;
	margin-left: 200px;
}
.judul2{
	font-family: sans-serif;
	font-size: 25px;
	color: #1a1b23;	
	margin-top: -49px;
	margin-left: 500px;
}
.text2{
	font-family: sans-serif;
	font-size: 15px;
	color: #3d2f36;
	margin-left: 500px;
	margin-top: 50px;
}
.button1 a{
	padding: 30px 30px;
	color: #1a1b23;
	text-decoration: none;
	border-radius: 10px;
	position: relative;
	font-family: sans-serif;
	margin-left: 950px;
	top: -200px;
	border: solid #1a1b23 3px;
}
.button1 a:hover{
	color: #ffffff;
	border: solid #1a1b23 3px;
	background: #1a1b23;
}
.button2 a{
	padding: 30px 47px;
	color: #1a1b23;
	text-decoration: none;
	border-radius: 10px;
	position: relative;
	font-family: sans-serif;
	margin-left: 950px;
	top: -100px;
	border: solid #1a1b23 3px;
}
.button2 a:hover{
	color: #ffffff;
	border: solid #1a1b23 3px;
	background: #1a1b23;
}
.text3{
	font-family: sans-serif;
	font-size: 12px;
	text-align: center;
	margin-top: 50px;
}




@media screen and (max-width: 1036px){
	#header .header .logo .menu{
		float: none;
		margin: 0 auto;
		width: auto;
	}
	#header .logo{
		margin-bottom: 10px;
	}
	#header .menu ul{
		float: right;
		display: block;
		color: #000000;
	}

}
@media screen and (max-width: 480px){
	#leandingpage .leandingpage-content .btnleanding{
		float: none;
		margin: 0 auto
		width:auto;
	}
	#leandingpage .leandingpage-content h1 p{
		width: auto;
		margin: 0 auto
	}
